<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WarframeReliquary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>92DA45E91DAD690900D9D3E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92DA45FF1DAD690900D9D3E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92DA460A1DAD690900D9D3E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
